@model ClaimSystem.Models.Claim
@{
    ViewData["Title"] = "Home Page";
}
<div class="button-container d-flex justify-content-center">  <h2>Welcome </h2></div>

<div class="button-container d-flex justify-content-center">
   
    <div class="button-container">
        <a href="@Url.Action("SubmitClaim", "Claim")" class="btn btn-primary">Submit Claim</a>
        <a href="@Url.Action("ClaimStatus", "Claim")" class="btn btn-info">Claim Status</a>
        <a href="@Url.Action("AdminView", "Claim")" class="btn btn-warning">Admin View</a>
    </div>
</div>
